.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding: 64px 0 0 64px;
  position: relative;
  overflow: hidden;
  z-index: -5;
  /* выше установили ограничения для секции */
}
